doctype html
html(lang="fr")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title #{websiteName}
        block css
    body
        header
            nav
                a(href="/") Accueil
                if !session.user
                    a(href="/login") Connexion/Inscription
                else 
                    a(href="/logout") Déconnexion 
            - var messages = getMessages()
            if messages.notify
                each msg in messages.notify
                    .alert.alert-info= msg
            if messages.error
                each msg in messages.error
                    .alert.alert-danger= msg
        main
            block content 

        footer
            block footer

        script
            block scripts