extends ./layout.pug

block content
    form(action="", method="post")
        label(for="email") Email
        input(type="text", name="email", id="email")
        label(for="password") Mot de passe
        input(type="password", name="password", id="password")
        button Envoyer
    a(href="register") Créer un compte