{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Edit DVD{% endblock %}

{% block main %}
<div class="container mt-3">

    <h1>Edit DVD</h1>

    {{ include('dvd/_form.html.twig', {'button_label': 'Update'}) }}

    <button type="button" class="btn btn-secondary mb-3"><a href="{{ path('dvd_index') }}">back to list</a></button>

    {{ include('dvd/_delete_form.html.twig') }}
</div>
{% endblock %}
