{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}New Maintenance{% endblock %}

{% block main %}
<div class="container mt-3">

    <h1>Create new Maintenance</h1>

    {{ include('maintenance/_form.html.twig') }}

    <a href="{{ path('maintenance_index') }}">back to list</a>
</div>

{% endblock %}
