doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style_admin.css")
        script(src="https://kit.fontawesome.com/2861c240a8.js" crossorigin="anonymous") 
        title Admin
    body
        header
            a(href="/admin")  Dashboard 
            a(href="/admin/biens")  Biens 
            a(href="/admin/utilisateurs")  Utilisateurs
        main
            - var messages = getMessages()
            if messages.notify
                each msg in messages.notify
                    .alert.alert-info= msg
            if messages.error
                each msg in messages.error
                    .alert.alert-danger= msg
            block main
                p page d'accueil
        footer
    block script
    script(src=process.env.BROWSER_REFRESH_URL)