{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}New Participates{% endblock %}

{% block main %}
    <h1>Create new Participates</h1>

    {{ include('participates/_form.html.twig') }}

    <a href="{{ path('participates_index') }}">back to list</a>
{% endblock %}
