extends layout.pug

block main
    form(action="", method="post") 

        div
            label(for="last-name")  Nom
            input(type="text" name="lastname" id="last-name")
        div
            label(for="first-name")  Prénom
            input(type="text" name="firstname" id="first-name")
        div
            label(for="mail")  Mail
            input(type="mail" name="mail")
        div
            label(for="password")  Password
            input(type="password" name="password")
        div
            button(type="submit") Envoyer