extends layout.pug

block main
    form(action="", method="post") 

        div
            label(for="mail")  Mail
            input(type="mail" name="mail")
        div
            button(type="submit") Envoyer