{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Edit Ressources{% endblock %}

{% block main %}
    <div class="container mt-3">
        <h1>Edit Ressources</h1>

        {{ include('ressources/_form.html.twig', {'button_label': 'Update'}) }}

        <button type="button" class="btn btn-secondary mb-3"><a href="{{ path('ressources_index') }}">back to list</a></button>

        {{ include('ressources/_delete_form.html.twig') }}
    </div>
{% endblock %}
